.alert {
    position: absolute!important;
    width: 600px!important;
    right: 20px!important;
    top:20px!important;
    display: none;
    color:white;
}
.alert-danger{
    background-color: #CA0B00!important;
    border-color:#CA0B00!important;
}
.alert-success{
    background-color:#4BB543!important;
    border-color: #4BB543!important;
}